.rating-toolbar {
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 3px rgb(103, 58, 183);
}

.rating {
  border: 1px solid;
  color: rgb(103, 58, 183);
  padding: 15px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 0px 3px rgb(103, 58, 183);
}

input {
  font-size: 15px;
  margin-bottom: 10px;
}
